@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
}

body {
    box-sizing: border-box;
}

/* Header section design  */
header {
    background: rgba(255, 144, 14, 0.10);
}

/* Navbar Design  */
nav {
    max-width: 75%;
    margin: 0 auto;

}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.logo {
    color: var(--Dark-01, #131313);
    text-align: center;
    font-family: "Work Sans";
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.nav-links a {
    color: var(--Dark-02, #424242);
    text-align: center;
    font-family: "Work Sans";
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6rem;
    text-decoration: none;
    /* 144.444% */
}

/* Hero Design  */
.hero-container {
    width: 75%;
    margin: 0 auto;
}

.text-container {
    width: 862px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-container h1 {
    color: var(--Dark-01, #131313);
    text-align: center;
    font-family: "Work Sans";
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-gray {
    color: var(--Dark-03, #727272);
    text-align: center;
    font-family: "Work Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6rem;
    /* 162.5% */
    margin: 32px 0;
}

.button-primary {
    border-radius: 8px;
    background: #FF900E;
    border: none;
    outline: none;
    color: #FFF;
    text-align: center;
    font-family: "Work Sans";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 20px 24px;
}

.hero-container img {
    margin: 50px 0;
    width: 100%;
}

/* Main section width 75%  */
main {
    max-width: 75%;
    margin: 0 auto;
}

/* list gallery design  */
.list-gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
    gap: 4.5rem;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    width: 50%;
}

.gallery-container img {
    width: 100%;
    height: auto;
}

.list-text-container {
    width: 40%;
}

.list-text-container h3,
.list-text-container p {
    text-align: left;
}

.list-text-container h3 {
    color: var(--Dark-03, #727272);
    font-family: "Work Sans";
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Feature style  */
.feature-container {
    margin-top: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature-text-container {
    width: 40%;
}

.feature-text-container h3 {
    width: 29.25rem;
    color: var(--Dark-01, #131313);
    font-family: "Work Sans";
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-description {
    font-size: 1rem;
    line-height: 1rem;
}

.feature-card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 1.25rem;
}

.feature-card h4 {
    color: var(--Dark-01, #131313);
    font-family: "Work Sans";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0.6rem;
}

.feature-card p {
    color: var(--Dark-03, #727272);
    font-family: "Work Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    /* 162.5% */
}

.img-container {
    width: 50%;
}

.img-container img {
    width: 100%;
    margin-left: 2rem;
}

.feature-badge {
    border-radius: 8px;
    background: #FF900E;
    padding: 3rem 2.5rem;
    display: inline-block;
    position: relative;
    bottom: 130px;
    right: 100px;
    margin-left: 2rem;
}

.feature-badge h3 {
    color: #FFF;
    text-align: center;
    font-family: "Work Sans";
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    /* 107.692% */
}

.feature-badge p {
    color: #FFF;
    color: #FFF;
    font-family: "Work Sans";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
}

/* fact section design  */
.fact-container {
    margin-top: 5rem;
}

.fact-text-container {
    width: 38%;
}

.fact-container h2 {
    color: var(--Dark-01, #131313);
    font-family: "Work Sans";
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.fact-container p {
    color: var(--Dark-03, #727272);
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.fact-card-container {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
}

.fact-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 2.5rem;
    text-align: center;

}

.fact-card-container .card img {
    width: 3rem;
}

.fact-card-container .card h3 {
    color: var(--Dark-02, #424242);
    font-family: "Work Sans";
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.fact-card-container .card p {
    color: var(--Dark-03, #727272);
    font-family: "Work Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* sponsor section design  */
.sponsor-container {
    margin-top: 8rem;
    margin-bottom: 4rem;
    min-height: 300px;
}

.sponsor-text-container {
    width: 38%;
    margin: 0 auto;
    text-align: center;
}

.sponsor-text-container h3 {
    color: var(--Dark-01, #131313);
    font-family: "Work Sans";
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sponsor-text-container p {
    margin-top: 1.5rem;
    color: var(--Dark-03, #727272);
    text-align: center;
    font-family: "Work Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    /* 162.5% */
}

.sponsor-img-container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.sponsor-img-container img {
    width: 10rem;
}

/* footer style  */
.footer {
    border-radius: 8px;
    background: #FFF4E7;
}

.footer p {
    color: var(--Dark-02, #424242);
    text-align: center;
    font-family: "Work Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding: 1.5rem;
}


/*************** Responsive Design  ****************/
@media only screen and (max-width: 1024px) {
    .feature-badge{
        position: static;
        margin-top: 2rem;
    }
    .sponsor-text-container {
        width: 80%;
    }
}

@media only screen and (max-width: 992px) {
    .nav-container {
        padding: 40px 0;
    }

    .logo {
        font-size: 2rem;
    }

    .nav-links a {
        font-size: 1.2rem;
    }

    .nav-links {
        gap: 20px;
    }

    .text-container {
        width: 90%;
    }

    .hero-container h1 {
        font-size: 2.5rem;
    }

    .text-gray {
        font-size: 2rem;
        line-height: 2.5rem;
        margin: 20px 0;
    }

    .button-primary {
        font-size: 2rem;
        padding: 1.5rem 2rem;
    }

    .hero-container img {
        margin: 20px 0;
    }

    /* list gallery responsive  */
    .list-gallery {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 3.5rem;
        gap: 30px;
    }

    .list-text-container {
        width: 90%;
        margin: 0 auto;

    }

    .gallery-container {
        width: 100%;
    }

    /* feature section responsive  */
    .feature-description {
        font-size: 2rem;
        line-height: 2.5rem;
        text-align: left;
    }

    .feature-container {
        margin-top: 5rem;
        display: flex;
        flex-direction: column-reverse;
    }

    .feature-text-container {
        width: 100%;
        margin-top: 4rem;
    }

    .feature-text-container h3 {
        width: 100%;
        font-size: 3.5rem;
    }

    .feature-card h4 {
        font-size: 2.5rem;
    }

    .feature-card p {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .img-container {
        width: 100%;
    }

    .img-container img {
        margin-left: 0;
    }

    .feature-badge {
        padding: 3rem 0px;
        position: static;
        width: 100%;
        margin-left: 0;
        margin-top: 3rem;
    }

    .feature-badge h3 {
        font-size: 4rem;
        line-height: 4rem;
    }

    .feature-badge p {
        font-size: 2rem;
        line-height: 3rem;
    }

    /* fact section responsive  */
    .fact-text-container {
        width: 100%;
    }

    .fact-text-container h2 {
        font-size: 4rem;
        line-height: 8rem;
    }

    .fact-text-container p {
        font-size: 2rem;
        line-height: 2.5rem;
    }


}

@media only screen and (max-width: 768px) {
    nav {
        max-width: 100%;
    }

    .nav-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 30px 0;
    }

    .logo {
        font-size: 2.4rem;
    }

    .nav-links a {
        font-size: 1.5rem;
    }

    .nav-links {
        gap: 30px;
    }

    .text-container {
        width: 90%;
    }

    .text-container {
        width: 80%;
    }

    .hero-container h1 {
        font-size: 3rem;
    }

    .text-gray {
        margin: 24px 0;
    }

    .button-primary {
        font-size: 18px;
        padding: 16px 20px;
    }

    .hero-container img {
        margin: 30px 0;
    }
}

@media only screen and (max-width: 576px) {
    .nav-container {
        gap: 20px;
    }

    .logo {
        font-size: 2rem;
    }

    .nav-links a {
        font-size: 1.5rem;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .text-container {
        width: 90%;
    }

    .text-container {
        width: 100%;
    }

    .hero-container h1 {
        font-size: 2rem;
    }

    .text-gray {
        font-size: 1rem;
        line-height: 1.3rem;
        margin: 20px 0;
    }

    .button-primary {
        font-size: 16px;
        padding: 12px 16px;
    }

    .hero-container img {
        margin: 20px 0;
    }

    /* list gallery responsive  */
    .list-text-container h3 {
        font-size: 2rem;
    }

    .gallery-container {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    /* feature section responsive  */
    .feature-container {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
    }

    .feature-text-container {
        width: 100%;
        gap: 1rem;
    }

    .feature-text-container h3 {
        width: 100%;
        font-size: 2rem;
    }

    .feature-card h4 {
        font-size: 1.5rem;
    }

    .feature-card p {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    .img-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .img-container img {
        margin-left: 0;
    }

    .feature-badge {
        padding: 1.5rem 0px;
        position: static;
        width: 100%;
        margin-left: 0;
        margin-top: 0;
    }

    .feature-badge h3 {
        font-size: 2rem;
        line-height: 2rem;
    }

    .feature-badge p {
        font-size: 1.25rem;
        line-height: 2rem;
    }


    /* fact section responsive  */
    .fact-text-container {
        width: 100%;
    }

    .fact-text-container h2 {
        font-size: 3rem;
        line-height: 5rem;
    }

    .fact-text-container p {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
}